JWT_ACCESS_SECRET=change_me_access
JWT_SESSION_SECRET=change_me_session
JWT_ALGORITHM=HS256
BACKEND_BASE_URL=http://localhost:8001
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8002
SERVICE_RELOAD=false
USERS_DATA_PATH=/app/src/2_shared_application/moks/users.json
ORGANIZATIONS_DATA_PATH=/app/src/2_shared_application/moks/organizations.json
MANAGE_ROLES_BY_ORG_PATH=/app/src/2_shared_application/moks/manage_roles_by_org.json
ROLES_DATA_PATH=/app/src/2_shared_application/moks/roles.json
BASIC_PERMISSIONS_PATH=/app/src/2_shared_application/moks/basic_permissions.json
SECURITY_LOG_PATH=/app/src/apps/7_service_frontend/logs/middleware_secure.log
FERNET_KEY_PATH=/app/src/2_shared_application/security/basesecuritypass.json
